body{
    font: 16px 'Klavika', sans-serif;
    margin: 40px;
}
ul{
    display: block;
    margin: 0;
    padding: 0;
    list-style: none;
}
ul:after{
    display: block;
    content: '';
    clear: both;
    float: none;
}
.menu{
    width: 400px;
    height: 50px;
    box-shadow: inset 0 2px 10px black ;
}
.menu li{
    float: left;
    position: relative;
    width: 100px;
    height: 50px;
    background: #3a3a3a;
    background-image: linear-gradient(#353535 1px, transparent 0), linear-gradient(90deg, #353535 1px, transparent 0);
    background-size: 3px 3px;
}
.home{
    border-bottom: 10px solid #00aae9;
    border-radius: 5px 0 0 5px;
}
.contact{
    border-bottom: 10px solid #f7941d;
    border-radius: 0 5px 5px 0;
}
.drop{
    border-bottom: 10px solid #c2d900;
}
.portfolio{
    border-bottom: 10px solid #ffdd00;
}
.menu li a{
    display: block;
    padding: 15px 0;
    text-align: center;
    color: #fff;
    text-decoration: none;
    border-left-color: #3a3a3a;
    border-right-color: #000;

}
.menu li a:hover{
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.78), inset 0 0 10px rgba(0, 0, 0, 0.78);
    text-shadow: 0 0 2px yellow;
    background-image: radial-gradient(transparent, black);
}
.submenu{
    display: none;
    position: relative;
    left: 0;
    text-align: center;
}
ul.submenu li{
    display: block;
    width: 100px;
    height: 40px;
    background: #1c1c1c linear-gradient(90deg, #1e1e1e 50%, transparent 50%) center center;
    background-size: 4px 4px;
    -webkit-background-size: 4px 4px;
    border-bottom: 1px solid #131313;
    border-top: 1px solid rgba(18, 18, 18, 0.4);
}
.home li:last-child{
    border-bottom: 10px solid #00aae9;
    border-radius: 0 0 0 5px;
}
.drop li:last-child{
    border-bottom: 10px solid #c2d900;
}
.portfolio li:last-child{
    border-bottom: 10px solid #ffdd00;
}
.contact li:last-child{
    border-bottom: 10px solid #f7941d;
    border-radius: 0 0 5px 0;
}
ul.submenu li a{
    display: block;
    padding: 10px;
    font-size: 14px;
    color: #868686;
    text-decoration: none;
}
ul.submenu li a:hover{
    color: white;

    text-shadow: 0 0 5px rgba(247 214 0 0.5);
   /* box-shadow: inset 0 0 10px #181818, inset 0 0 10px #181818;*/
    background-image: radial-gradient(transparent, #353535);
}
ul.menu li:hover ul.submenu {
    display: block;
}