* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    font-family: PTSans, sans-serif;
}
.container{
    width: 960px;
    margin: 0 auto;
    text-align: center;
}
header{
    background-color: rgb(252,219,0);
    width: 100%;
   /* padding: 0;*/
}
nav{
    display: block;
    /*margin: 0;*/
    padding: 50px 0 190px;
}
.icon{
    display: inline-block;
    width: 30px;
    height: 30px;
    background: url("../image/sprites.png") no-repeat;
}
.list{
    float: left;
    margin: 10px;
    background-position: -143px -8px;
}
.right-icons{
    display: inline-block;
    float: right;
    margin: 10px;
    background-position: -8px -8px;
}
.logo{
    width: 250px;
    height: 60px;
    background-position: -8px -145px;
    margin: -10px 0 0 150px;
}
.facebook{
    background-position: -8px -8px;
}
.twitter{
    background-position: -108px -8px;
}
.google{
    background-position: -42px -8px;
}
.pinterest{
    background-position: -74px -8px;
}
.subheader{
    padding: 0 90px;
}
h1{
    font-size: 48px;
}
.subheader p, .features p{
    font-size: 20px;
    margin: 0 0 20px;
}
.store-buttons{
    margin: 0 auto;
    width: 340px;
    padding-bottom: 130px;
}
.circle-icon{
    display: inline-block;
    width: 85px;
    height: 85px;
    background: url("../image/sprites.png") no-repeat;
    margin-left: 25px;
}
.apple{
    background-position: -103px -45px;
}
.android{
    background-position: -8px -45px;
}
.windows{
    background-position: -200px -45px;
}
.bullets{
    display: inline-block;
    width: 66px;
    margin: 0 453px 50px;
}
.slider {
    width: 15px;
    height: 15px;
    margin-right: 7px;
    background-color: white;
    border-radius: 50%;
    opacity: 0.5;
    float: left;
}
#first_slider{
    opacity: 1;
}
/*Header end*/

.features{
    padding: 75px 0 0;
}
h2{
    font-size: 32px;
}
.features-head p{
    padding: 0 70px;
}
.features-grid{
    width: 960px;
    text-align: left;
}
h3{
    font-size: 22px;
}
.ipad{
    width: 330px;
    height: 480px;
    margin: 40px 70px 0;
    background-position: -290px -8px;
}
.grid-side{
    display: inline-block;
    width: 230px;
    position: relative;
    bottom: 90px;
}
.grid-item{
    padding: 0 0 70px;
}
.grid-item p{
    font-size: 16px;
}
/*Main section end*/
footer{
    background: #010101;
    width: 100%;
}
footer h2{
    padding-top: 90px;
    color: #fcdb00;
    font-size: 32px;
    text-align: center;
}
footer p{
    padding: 0 150px 45px;
    color: #898989;
    text-align: center;
}
.subscrible{
    display: inline-block;
    margin: 0 auto;
}
.submit{
    width: 730px;
    margin: 0 auto;
}
input{
    display: inline-block;
    color: #898989;
    border-radius: 5px;
    border-style: none;
    width: 580px;
    float: left;
    padding: 20px;
    margin-right: 20px;
}
button{
    width: 130px;
    background: #fcdb00;
    text-transform: uppercase;
    padding: 20px;
    border-radius: 5px;
    border-style: none;
}
.footer_widgets {
    width: 100%;
    display: inline-block;
    margin: 0;
    padding: 90px 0 130px;
    text-align: left;
}
.adress{
    display: block;
    float: left;
    margin-left: 10px;
}
.adress p{
    padding: 0;
    margin: 0;
    text-align: left;
}
.adress a, .link_group a{
    color: #898989;
    text-decoration: none;
}
.link_group {
    display: inline-block;
    float: left;
    margin-left: 40px;
}
.group{
    display: block;
    float: left;
    width: 75px;
    margin-left: 80px;
}


