* {
    box-sizing: border-box;
}
input[type="text" i],
button {
    cursor: pointer;
}
body {
    padding: 0;
    margin: 0;
    font-family: PTSans, sans-serif;
    font-size: 16px;
}
.main-header{
    background-color: rgb(252,219,0);
    width: 100%;
    height: 140px;
    padding: 50px 0 0;
}
.icon{
    background: url("../img/sprites.png") no-repeat;
}
.main-section{
    background-color: rgb(252,219,0);
    width: 100%;
}
.container{
    width: 960px;
    margin: 0 auto;
    overflow: hidden;
}
.logo{
    display: block;
    float: left;
    padding-top: 5px;
}
.main-menu {
    float: right;
}
.main-menu span {
    display: inline-block;
    padding: 15px 10px 0 90px;
    font-size: 22px;
    font-weight: bold;
}
a {
    text-decoration: none;
    color: black;

}
/*header end*/
/*Main section start.
Inspiration start.*/
.inspiration {
    background-color: rgb(252,219,0);
    height: 530px;
    padding: 100px 0 0;
}
.ipad{
    float: right;
    margin-right: 60px;
    margin-left: 170px;
    width: 330px;
    height: 490px;
    background-position: -6px -176px ;
}
.iconOS{
    display: inline-block;
    float: left;
    padding:0 30px 100px 0;
}
.iconOS div{
    width: 45px;
    height: 45px;
    float: left;
    margin-right: 30px;
}
.iconOS div:last-child{
    margin-right: 0;
}
.apple{
    background-position: -58px -60px;
}
.android{
    background-position: -6px -60px;
}
.windows{
    background-position: -106px -60px;
}
.bullets{
    width: 59px;
    margin: 0 auto;
    position: relative;
    left:auto;
    padding-bottom: 65px;
}
.slider {
    width: 15px;
    height: 15px;
    margin-left: 7px;
    background-color: white;
    border-radius: 50%;
    opacity: 0.5;
    float: left;
}
#first-slider{
    opacity: 1;
    margin: 0;
}
/*inspiration end*/
/*information block start*/
.inform{
    background: white;
    padding: 100px 70px 40px;
    font-size: 20px;
    text-align: center;
}
.features{
    background-color: #fff;
}
.features-item{
    width: 33%;
    float: left;
    padding: 30px 10px;
}
.features-item div{
    width: 55px;
    height: 46px;
    float: left;
    margin: 0 10px 70px;
}
.font-1{
    background-position: -156px -56px;
}
.font-2{
    background-position: -70px -112px;
}
.font-3{
    background-position: -9px -112px;
}
.font-4{
    background-position: -132px -112px;
}
.font-5{
    background-position: -196px -112px;
}
.font-6{
    background-position: -262px -110px;
}
.features h3{
    font-size: 22px;
    margin: 0;
}
.features-item p{
    font-size: 16px;
}
.page-number{
    display: inline-block;
    font-size: 30px;
    margin: 60px 370px 20px;
}
/*Main section end*/
.main-footer{
    background: #010101;
    width: 100%;
}
.main-footer h2{
    padding-top: 90px;
    color: #fcdb00;
    font-size: 32px;
    text-align: center;
}
.main-footer p{
    padding: 0 150px 45px;
    color: #898989;
    text-align: center;
}
.subscrible{
    display: inline-block;
    margin: 0 auto;
}
.submit{
    width: 730px;
    margin: 0 auto;
}
input{
    display: inline-block;
    color: #898989;
    border-radius: 5px;
    border-style: none;
    width: 580px;
    float: left;
    padding: 20px;
    margin-right: 20px;
}
button{
    width: 130px;
    background: #fcdb00;
    text-transform: uppercase;
    padding: 20px;
    border-radius: 5px;
    border-style: none;
}
.social-connect{
    width: 290px;
    margin: 0 auto;
    padding: 70px 0;
}
.media{
    display: inline-block;
    position: relative;
    width: 42px;
    height: 42px;
    margin-right: 30px;
}
.media:first-child{
    background-position: -10px -7px;
}
.media:nth-child(2){
    background-position: -107px -7px;
}
.media:nth-child(3){
    background-position: -58px -8px;
}
.media:last-child{
    background-position: -158px -8px;
    margin-right: 0;
}
.footer-widgets {
    width: 100%;
    border-top: 1px solid #898989;
    display: inline-block;
    margin: 0;
    padding: 70px 0 130px;
}
.adress{
    display: block;
    float: left;
    margin-left: 10px;
}
.adress p{
    padding: 0;
    margin: 0;
    text-align: left;
    }
.adress a{
    color: #898989;
}
.link-group {
    display: inline-block;
    margin-left: 40px;
}
.group{
    display: block;
    float: left;
    width: 75px;
    margin-left: 80px;
}
.link-group a{
    color: #898989;
}
/*Media queries*/
@media all and (max-width: 768px) {
   .main-header, .inspiration{
   height: auto;
    }
    .container{
   width: auto;
   }
    .logo{
       float: none; 
        position: relative;
        margin: 10px 50%;
        left: -75px;
   }    
    .main-menu{
        float: none;
        position: relative;
        padding: 10px;
        width: 430px;
        margin: 0 auto;
        left: auto;
        }
    .main-menu span{
        display: inline-block;
        margin: 25px;
        padding: 0;
    }
    .ipad{
        float: none;
        margin: 0 auto;
        padding: 30px;
    }
    .inspiration{
        text-align: center;
        padding: 50px 30px 0;
    }
    .bullets{
        position: absolute;
        top: 710px;
        padding: 0;
        margin: 0 50%;
        left: -30px;
    }
    .iconOS{
        padding: 20px 0;
        width: 195px;
        float: none;
        position: relative;
        margin: 0 auto;
    }
    .features-item{
        display: inline-block;
        min-width: 50%;
        padding: 10px 20px;
    }
    .features-item div{
        float: none;
        margin: 0 20px 10px;
    }
    .page-number{
        position: relative;
        margin: 0 50%;
        width: 140px;
        left: -70px;
        padding-bottom: 10px;
    }
    .page-number a{
        font-size: 18px;
    }
    .inform{
        padding: 0 30px 30px 30px;
    }
    .subscrible h2{
        padding-top: 40px;
    }
    .subscrible p{
        padding: 0 30px;
    }
    .submit{
        width:  auto;
        padding: 0 10%;
    }
    input{
        width: 90%;
        float: none;
        margin-right: 0;
    }
    button{
        float: :none;
        margin: 20px auto;
    }
    .footer-widgets{
        padding: 30px;
    }
    .link-group{
        margin-left: 0;
    }
    .social-connect {
        padding: 10px 0;
    }
    .adress{
        width: 200px;
        margin: 20px auto;
        float: none;
        position: relative;
    }
}
@media all and (max-width: 425px) {
    body{
        text-align: center;
    }
    .logo{
        margin: 0 auto;
    }
    .main-menu{
        display: none;
    }
    .bullets{
        top: 625px;
    }
    .features-item{
        width: auto;
        padding: 0 20px;
    }
    .features-item div{
        margin: 10px auto;
    }
    .features-item h3{
        font-size: 18px;
    }
    .features-item p{
        font-size: 14px;
    }
    button{
        padding: 10px;
    }
}